
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    /* background-color: #1C1C1C; */
    color: #FFFFFF;
    --bs-font-sans-serif: "Open Sans", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-weight: bolder;
    font-family: "Archivo Black", "Open Sans", Arial, Helvetica, sans-serif;
}

p {
    line-height: 1.75em;
}

a {
    --bs-link-color-rgb: #FFFFFF;
}

.container {
    max-width: 90%;
}

.nav-name{
    font-family: "Archivo Black", "Open Sans", Arial, Helvetica, sans-serif;
}
.nav-link {
    --bs-nav-pills-link-active-color:#1C1C1C;
    --bs-nav-pills-link-active-bg: #cada2c;
    --bs-nav-link-color:#cada2c;
    --bs-nav-link-hover-color:#FFFFFF;
    
}

.btn-primary {
    background-color: #cada2c;
    border-color: #cada2c;
    color: #1C1C1C;
    font-family: "Archivo Black", "Open Sans", Arial, Helvetica, sans-serif;
}

.btn-outline-secondary {
    --bs-btn-color: #cada2c;
    --bs-btn-border-color: #cada2c;
}

#about, #skills, #portfolio {
    margin: 1.5em ;
}

.hero-fade-in {
    transform: translateY(-30px);
    opacity: 0;
    transition: 1.5s;
 }

.fade-in-on-scroll {
    transform: translateY(-30px);
    opacity: 0;
    transition: 1s;
 }

 .fade-in-show {
    transform: translateY(0px);
    opacity: 1;
 }

 .fs-1 {
    font-size: 3.75rem!important;
 }

.carrot_bullet {
    color:#cada2c;
    font-family:  "Archivo Black", "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.skill-icon {
    max-width: 20%;
}

  